<%= provide(:title, "About") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center" style="font-weight: normal">Project Info</h1>

    <div class="well" id="about-well">
      <p>
        This is a web app created as a project for <a href="http://www.theodinproject.com/ruby-on-rails/associations">The Odin Project</a>
        intended as a practice for ActiveRecord Associations.<br/>
        Registered users will have to following functionality:
        <ul class="list">
          <li>Browse all events</li>
          <li>View other User's profiles and their events</li>
          <li>Create Events</li>
          <li>Attend Events</li>
          <li>Edit and Delete created events</li>
          <li>Sort Events by upcoming and past events</li>
          <li>Edit their own profile</li>
        </ul>
      </p>
    </div>

  </div>
</div>