<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation_menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" id="logo" href="#">Private Events</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation_menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_url do %>
            <i class="glyphicon glyphicon-home"></i>
              Home
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            <i class="glyphicon glyphicon-info-sign"></i>
              About
          <% end %>
        </li>

        <% if !logged_in? %>
        <li>
          <%= link_to login_path do %>
            <i class="glyphicon glyphicon-log-in"></i>
              Log In
          <% end %>
        </li>

            <% else %>

            <li>
              <%= link_to logout_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  Log Out
              <% end %>
            </li>

            <% end %>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>